<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sdj_jewellers">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.sdj_jewellers.utility.Application"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon_durga"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.sdj_jewellers.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sdj_jewellers.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sdj_jewellers.ForgotPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sdj_jewellers.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sdj_jewellers.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sdj_jewellers.GalleryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sdj_jewellers.EducationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sdj_jewellers.AboutUsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sdj_jewellers.CategoryInfoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sdj_jewellers.CartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sdj_jewellers.ChangePasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sdj_jewellers.SignUpVerifyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sdj_jewellers.ThanksActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sdj_jewellers.ProductDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.sdj_jewellers.ReachUsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>